body {
    background-color: #1e1e2e;
    color: #e0e0e0;
}

h1 {
    background-color: #3b3b5a;
    color: #ffffff;
    text-align: center;
    border: 1px solid #5a5a7a;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    padding: 10px;
}

.centro {
    border: 2px solid #5a5a7a;
    border-radius: 10px;
    display: flex;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 2.5% 20%;
    width: fit-content;
    height: 90%;
    background-color: #28283d;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 5vw);
    grid-template-rows: repeat(8, 5vw);
    border: 2px solid #5a5a7a;
}

.tab .even {
    background-color: #3b3b5a;
}

.tab .odd {
    background-color: #1e1e2e;
}

img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7));
}

.overlay {
    z-index: 2;
    width: 100%;
    height: 100%;
}
